@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bahnschrift"
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  font-size: 15rem;
  letter-spacing: 0.5rem;

  font-family: serif;
}
